@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blackish: #272D2F;
    --milky: #D7D7D7;
    --orange: #FE724C;
    --pinky: #EAA491;
    --yellowish: #F3CF79;
    --brownish: #83412C;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;
}

body {
    background: white;
    margin: 0 0;
}
