@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blackish: #272D2F;
    --milky: #D7D7D7;
    --orange: #FE724C;
    --pinky: #EAA491;
    --yellowish: #F3CF79;
    --brownish: #83412C;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 40px;
}

.container-small {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 40px;
}

body {
    background-color: var(--milky);
    margin: 0 0;
}

/* customer selection color */

::selection {
    background: var(--orange);
    color: white;
}

/* Mozilla-based browsers need a separate rule */
::-moz-selection {
    background: var(--orange);
    color: white;
}

/* change focus style on elements selection (usually by tab) */

:focus {
    outline: none;
}

/* custom scrollbar */

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    border-radius: 10px;
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #cccccc;
}

/* other common classes */
.explore {
    margin-bottom: 55px;
}

.err-msg {
    border-radius: 30px;
    color: #58151c;
    border: 1px solid #f1aeb5;
    background-color: #f8d7da;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.err-span-msg {
    color: #58151c;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 7px;
}
